body {
  text-align: center;
  font-family: 'Montserrat', Helvetica, Tahoma, Verdana, sans-serif;
}
h1 {
  font-family: 'Montserrat', Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 4vw;
  color: #444;
  border-top: 4px solid #444;
  border-bottom: 4px solid #444;
  padding: 20px 50px;
  display: inline-block;
}
table {
  margin-left: auto;
  margin-right: auto;
	border-collapse: collapse;
}
td {
	padding: 0;
	border: 0;
}
h2 {
  margin: 0;
  font-size: 2em;
  color: #444;
}
hr {
  height: 0;
  border-top: 2px solid #444;
  width: 50%;
  margin: 40px auto;
}
ul {
	display: inline-block;
	margin: auto;
	list-style-type: none;
}
li {
	text-align: left;
}
ul li img {
  width: 30px;
}
ul li a {
  text-decoration: none;
}
a.button {
  border-radius: 20px;
  background: #444;
  color: #FFF;
  text-decoration: none;
  padding: 40px 30px;
  display: block;
  margin: auto;
  width: 40%;
  font-size: 3.5vw;
}
a.button:after {
  content: 'SPREAD THE PARTY';
}
a.button:hover {
  background-color:#FD767A;
  color: #444;
  text-shadow: 2px 2px #FFF;

  animation-name: buttonParrot; 
  animation-duration:1s; 
  animation-direction:alternate; 
  animation-iteration-count:infinite; 

  -webkit-animation-name: buttonParrot; 
  -webkit-animation-duration:1s; 
  -webkit-animation-direction:alternate; 
  -webkit-animation-iteration-count:infinite;	
}
a.button:hover:after {
  content: 'THE PARROT INSISTS';
}

@keyframes buttonParrot { 
  0% {background-color:#FECE7A;}
  12% {background-color:#7EFF7A;}
  24% {background-color:#7EFFFF;}
  36% {background-color:#7BA3FE;}
  48% {background-color:#CB70FE;}
  60% {background-color:#FC49F5;}
  78% {background-color:#FC4EA7;}
  90% {background-color:#FD5258;}
}
@-webkit-keyframes buttonParrot { 
  0% {background-color:#FECE7A;}
  12% {background-color:#7EFF7A;}
  24% {background-color:#7EFFFF;}
  36% {background-color:#7BA3FE;}
  48% {background-color:#CB70FE;}
  60% {background-color:#FC49F5;}
  78% {background-color:#FC4EA7;}
  90% {background-color:#FD5258;}
}

a.button-small {
  border-radius: 5px;
  background: #444;
  color: #FFF;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  margin: auto;
  font-size: 14px;
}

a.button-small:hover {
  background-color:#FD767A;
  color: #444;
  text-shadow: 1px 1px #FFF;

  animation-name: buttonParrot; 
  animation-duration:1s; 
  animation-direction:alternate; 
  animation-iteration-count:infinite; 

  -webkit-animation-name: buttonParrot; 
  -webkit-animation-duration:1s; 
  -webkit-animation-direction:alternate; 
  -webkit-animation-iteration-count:infinite;	
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

article {
  padding-bottom: 20px;
}

footer {
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
}

footer a {
  color: #444;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  height: 10px;
}

@media only screen and (max-width: 980px) {
  h1 {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    display: block;
  }
  hr {
    width: 100%;
  }
  a.button {
    padding: 20px 10px;
    width: 80%;
  }
  a.button:hover {
    text-shadow: 1px 1px #FFF;
  }
}

aside {
	color: #AAA;
	font-size: 12px;
  text-transform: uppercase;
}

li > span {
  color: #444;
  cursor: pointer;
  position: relative;
}

[tooltip]:before {
  position : absolute;
  content : attr(tooltip);
  opacity : 0;
  font-size: 10px;
  background: #444;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  transition: opacity 0.2s linear;
  cursor: pointer;
  left: 10px;
  width: 100px;
  top: 0px;
}
[tooltip]:hover:before {
  opacity : 1;
}

h3 {
  margin-top: 0;
}
div.clearfix:after {
  content: '';
  display:table;
  clear:both;
}
div.shirt img {
  height: 150px;
}

@media screen and (min-width: 600px) {
  div.shirt {
    width: 30%;
    margin: 0 10%;
    float: left;
    text-align: center;
  }
  div.shirt:first-child {
    margin: 0 0 0 20%;
  }
  div.shirt:last-child {
    margin: 0 20% 0 0;
  }
}

@media screen and (min-width: 1000px) {
  div.shirt img {
    height: 300px;
  }
}
