<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cult of the Party Parrot</title>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{files.assets__parrot_css}}">
    <link type="text/plain" rel="author" href="humans.txt" />

    <meta property="og:title" content="Cult of the Party Parrot" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="THE PARROT INSISTS" />
    <meta property="og:image" content="/assets/og.png" />

    <!--

                          ........:oo:........
                       o//ssssssssyhhysssss+////o                   .'''''''''''''''''.
                 mddmmm/::ddddddddddddddmmmyss::/mmN               |   PARTY OR DIE   |
                 o..+oodddmmmhhhhhhhhhhhdmmmmmdddooy               | ,................'
              h::oyyhddmmm+++///////////++++++mmmddy::s            |/
           Nyyo[[sddhyyyyy::::::::::::::::::::yyymmh//oyym
           h..:oohmm+:://///::::////////////////+mmmmms..sNN
           m++sddmmm+::hddhhy::+ddddddddddddddhhhmmmmmdhh+++d
        Nsssyyhmmhssooodmmhhh::+mmdyyyyyyyyddddddmmmmmmmmo::d
      mmd../mmmmmo::shhdmmhhh::+mmhooooooooyhhmmmmmmmmmmmyssdmm
      +++++smmdddo::///dmmhhh::+mmhooooooooooommmmmddddmmmdd/++m
      ``+hhhmmhoo/:::::oooooossymmhooooooooyyymmdoooooydddmmo//N
      ++:mmmmmy:::::::::::::/yyhmmhooooooooyhhmmd:::::+yyhmmyssddd
      ooommmmmy:::::::::::::://ommhooooooooooommd:::::://shhdmm+..
      yyhmmh++/::::::::::::::::+mmhooooooooyyymmd::::::::/++hmm+//
      dddmmh++/::::::::::::::::+mmhooooooooyhhddh:::::::::::hmmysshhd
      mmmmmdhhs::::::::::::::::+mmhoooooooohhhhhy:::::::::::hmmhhh``+
      mmmmmh++/::::::::::::::::+mmdhhsooooodmm++/:::::::::::hmmsss``+
      dddmmhoo+::::::::::::::::+dddddyssyyydmm::::::::::::::hmmsoo++o
      dddmmdhho::::::::::::::::+hhdmmddddmmmmm::::::::::::::hmmsooNNN
      mmmmmh///::::::::::::::::+hhdmmmmmmmmddd::::::::::::::hmmsoo++/
      yyhmmdss+::::::::::::::::/ooydddmmmmmsoo::::::::::::::yddhyy::+
      ++ommmmmy:::::::::::::::::::ohhdmmddd/::::::::::::::::shhdmmsssNNNmmN
      ..+mmmmmy:::::::::::::::::::://shh+//:::::::::::::::::://dmmmmdoo+..o
      ``+dddmmhss+:::::::::::::::::::+++/::::::::::::::::::::::ooodddhhysshNNy++m
      ``+hhdmmdhhs///:::::::::::::::::::::::::::::::::::::::::::::yyymmmmmmmmo++hNNmdd
      ``+hhdmmdhhhhh+:::::::::::::::::::::::::::::::::::::::::::::::/hhhhhdmmmmmsoo...
      ``+ddmmmdhhhhhyyyyyyyyyyyo:::::::::::::::::::::::::::::::::::::+++++sdddmmdhhsss//+
      ``+mmmmmhsshhhhhhhhhhhhhhy++/:::::::::::::::::::::::::::::::::::::::+ssyyydmmddd///hhd
      ``+mmmmmy::shhhhhhhhhhhhhhhhs:::::::::::::::::::::::::::::::::::::::::::::ymmmmmmmh../
      ``+mmmmmy:://////////////ohhhyy+::::::::::::::::::::::::::::::::::::::::::///hddmmmhhs++s
      ``+mmmmmhssssssssssssssssydddddysssssssssssssssssssssssssssssssssssssssssssssdddmmmmmy::s
      ``+mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmhooh

    -->
  </head>
  <body>
    <div id="wrapper">
      <article>
        <div>
          <h1>Cult of the Party Parrot</h1>
        </div>
       
        <table>
          <tr>
            <td><img src="/parrots/hd/parrot.gif" /></td>
            <td><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /></td>
            <td><img src="/parrots/hd/reverseparrot.gif" /></td>
          </tr>
          <tr>
            <td><img src="/parrots/hd/parrot.gif" /></td>
            <td><h2>PARTY OR DIE</h2></td>
            <td><img src="/parrots/hd/reverseparrot.gif" /></td>
          </tr>
          <tr>
            <td><img src="/parrots/hd/parrot.gif" /></td>
            <td><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /><img src="/parrots/hd/middleparrot.gif" /></td>
            <td><img src="/parrots/hd/reverseparrot.gif" /></td>
          </tr>
        </table>

        <hr/>

        <ul>
          {{#parrots}}
          <li><img src="/still/parrots/{{still}}" class="lazy" data-src="/parrots/{{#hd}}{{{hd}}}{{/hd}}{{^hd}}{{gif}}{{/hd}}" alt="{{name}}"/> {{name}}{{#hd}}<span class="hd">HD</span>{{/hd}}{{#tip}}<span tooltip="{{tip}}">*</span>{{/tip}}</li>
          {{/parrots}}
        </ul>

        <hr/>

        <a class="button" id="parrots_zip" href="/{{files.parrots_zip}}"></a>
        <p>(zip)</p>

        <aside><p>Add them to your Slack. Do it.</p></aside>

        <hr/>

        <h3>Flag Parrots</h3>

        <div class="flags-group">
          <img src="/flags/hd/australiaparrot.gif" alt="Australia Parrot" class="flags" id="flag-0" />
          <img src="/flags/hd/bhutanparrot.gif" alt="Bhutan Parrot" class="flags" id="flag-1" />
          <img src="/flags/hd/burkinafasoparrot.gif" alt="Burkina Faso Parrot" class="flags" id="flag-2" />
        </div>
        <div class="flags-button"><a class="button-small" href="/flags.html">See Them All</a></div>
        <div class="flags-group">
          <img src="/flags/hd/gabonparrot.gif" alt="Gabon Parrot" class="flags" id="flag-3" />
          <img src="/flags/hd/kiribatiparrot.gif" alt="Kiribati Parrot" class="flags" id="flag-4" />
          <img src="/flags/hd/jamaicaparrot.gif" alt="Jamaica Parrot" class="flags" id="flag-5" />
        </div>

        <hr/>

        <h3>Party Guests</h3>

        <ul>
          {{#guests}}
          <li><img src="/still/guests/{{still}}" class="lazy" data-src="/guests/{{#hd}}{{{hd}}}{{/hd}}{{^hd}}{{gif}}{{/hd}}" alt="{{name}}"/> {{name}}{{#hd}}<span class="hd">HD</span>{{/hd}}{{#tip}}<span tooltip="{{tip}}">*</span>{{/tip}}</li>
          {{/guests}}
        </ul>

        <div id="other_download">
          <a class="button-small" id="guests_zip" href="/{{files.guests_zip}}">Download</a>
        </div>


        <hr/>

        <h3>Shirts!</h3>
        <div class="clearfix">
          <div class="shirt">
            <a href="https://cottonbureau.com/products/parrot-style"><img src="/assets/style-shirt.jpg" alt=":parrot-vibes:" /></a>
          </div>
          <div class="shirt donation">
            <a href="https://teespring.com/partyparrotee"><img src="/assets/crazy-shirt.png" alt=":oh-god-so-many-parrots:" /></a>
          </div>
        </div>
        <div class="clearfix">
          <div class="shirt out-of-print">
            <a href="https://cottonbureau.com/products/parrot"><img src="/assets/shirt.jpg" alt=":parrot:" /></a>
            <div>Out of Print</div>
          </div>
          <div class="shirt out-of-print">
            <a href="https://teespring.com/partyparrot"><img src="/assets/glasses-shirt.png" alt=":partyparrot:" /></a>
            <div>Out of Print</div>
          </div>
        </div>

        <hr class="thin" />

        <p>
          <a class="button-small" href="https://teespring.com/partyparrot">Mug</a>
          <a class="button-small" href="https://www.redbubble.com/people/korben-dallas/collections/621063-party-parrot-collection">Redbubble</a>
          <a class="button-small" href="http://pingrovepress.storenvy.com/">Enamel Pins</a>
        </p>

        <hr/>

        <h3>Keyboards!</h3>
        <div class="clearfix keyboards">
          <a href="https://itunes.apple.com/us/app/cult-of-the-party-parrot/id1169278591?ls=1&mt=8"><img src="/assets/app-store-badge.svg" alt="Download on the App Store" /></a>
          <a href="https://play.google.com/store/apps/details?id=us.fetch321.partyparrotkeyboard"><img src="/assets/google-play-badge.png" alt="Download on Google Play" /></a>
        </div>

        <hr/>

        <p>
          <a class="button-small" id="parrot_svg" href="/assets/parrot.svg">SVG</a>
          <a class="button-small" href="https://github.com/jmhobbs/cultofthepartyparrot.com">GitHub</a>
        </p>

        <hr/>

        <h3>Discord</h3>
        <small>A bot to add some parrots to your server!</small>
        <p>
          <a class="button-small" href="https://github.com/Kizzaris/partydiscord">Bot Code</a>
          <a class="button-small" href="https://discord.gg/BG3AUfh">Demo Server</a>
          <a class="button-small" href="https://discordapp.com/oauth2/authorize?client_id=394830082058747905&permissions=1074006016&scope=bot">Mr. Parrot Invite Link</a>
        </p>

        <hr/>

        <p>
          <a class="button-small" href="https://github.com/jmhobbs/terminal-parrot">Terminal</a>
          <a class="button-small" href="https://github.com/Shrugs/partyparrot">Text-To-Parrots</a>
          <a class="button-small" href="http://countryparrots.com/">Country Parrots</a>
          <a class="button-small" href="https://parrotify.github.io/">Party Parrot as a Service</a>
          <a class="button-small" href="https://www.reddit.com/r/PartyParrot">r/PartyParrot</a>
          <a class="button-small" href="https://github.com/mjaniszew/osx-touchbar-party-parrot">PartyParrot on MacBook's Touch Bar</a>
          <a class="button-small" href="https://github.com/matheuss/parrotsay">Parrot Say</a>
          <a class="button-small" href="https://codepen.io/nathangath/pen/RgvzVY/">CSS Parrot</a>
          <a class="button-small" href="https://github.com/breadadams/fetch-the-parrot">Fetch-the-parrot</a>
          <a class="button-small" href="https://twitter.com/hugojmd/status/937997911257882624"><tt>curl parrot.live</tt></a>
          <a class="button-small" href="https://t.me/PartyParrotBot">Telegram Bot</a>
          <a class="button-small" href="https://www.npmjs.com/package/parrotify-cli">parrotify-cli</a>
          <a class="button-small" href="https://github.com/dp12/parrot">emacs parrot</a>
          <a class="button-small" href="https://parrot.today">parrot.today</a>
          <a class="button-small" href="https://github.com/jbaublitz/knock-out">Kernel Module</a>
        </p>

        <hr/>

        <p>
          Party Parrot based on <a href="https://www.youtube.com/watch?v=9T1vfsHYiKY">Sirocco</a>, the hardest partying parrot ever.
        </p>

        <img src="/assets/sirocco.gif" alt="Sirocco" />

        <p>
          Sirocco is a member of the endangered Kākāpō species.
        </p>

        <p>
          <a class="button-small" href="http://kakaporecovery.org.nz/sirocco/">Donate To Keep Them Partying</a>
        </p>

        <hr/>

      </article>

      <footer>
        With <img src="/parrots/hd/parrot.gif"> from <a href="http://midwestdevchat.com/">Midwest Dev Chat</a> &amp; <a href="https://github.com/jmhobbs/cultofthepartyparrot.com#thanks">friends</a>
      </footer>

      <script src="{{files.assets__lazy_js}}" defer></script>
      <script src="{{files.assets__home_js}}" defer></script>
    </div>
  </body>
</html>
